@use "../../styles/utils" as *;

.select {
  position: relative;
  display: inline-block;
  min-width: 10rem;
  background-color: var(--clr-neutral-400);
  padding: 0.5rem 0.75rem;
  border-radius: 0.125rem;
  cursor: pointer;

  &[open] summary ~ * {
    animation: sweep 0.1875s ease-in-out;
  }

  summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  menu {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
    padding: 0.5rem;
    z-index: 100;
    background-color: var(--clr-neutral-400);
    border: 0.125rem solid var(--clr-neutral-700);
    border-radius: 0.125rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &__item {
    background-color: transparent;
    border: none;
    color: var(--clr-neutral-100);
    font-size: 0.9375rem;
    font-weight: var(--fw-regular);
    cursor: pointer;
    transition: color 125ms ease-in-out;

    @include media-hover {
      &:hover {
        color: var(--clr-primary);
      }
    }
  }

  @keyframes sweep {
    0% {
      top: 0;
      transform: scaleY(0);
    }
    100% {
      top: calc(100% + 0.5rem);
      transform: none;
    }
  }
}
